<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joey's URL Shortener Microservice</title>

    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"/>
    <link rel="stylesheet" href="/css/main.css">

    <!-- jQuery Core 3.1.1 minified JavaScript -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
    <!-- Bootstrap Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

  </head>
  <body>
    <main class="container">
      <div clss="row">
        <div class="center-block" id="display-container">
          <!-- <div class="col-xs-12" id="main-container"> -->
            <h3 id="app-title" class="text-center">Joey's URL Shortener Microservice</h3>
            <div class="row text-left">
              <div class="col-xs-12">
                <h4 class="text-left">User stories:</h4>
                <ul>
                  <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
                  <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
                  <li>When I visit that shortened URL, it will redirect me to my original link.</li>
                  <li><em>Pro Tip:</em> Checkout this wiki article for tips on integrating MongoDB on Heroku.</li>
                </ul>

                <h4 class="text-left">Example creation usage:</h4>
                <a href="https://url-shortcut.herokuapp.com/new/https://www.google.com" target="_blank"><code>https://url-shortcut.herokuapp.com/new/https://www.google.com</code></a><span class="badge">Click for try</span><br>
                <a href="https://url-shortcut.herokuapp.com/new/https://www.freecodecamp.com" target="_blank"><code>https://url-shortcut.herokuapp.com/new/https://www.freecodecamp.com</code></a><span class="badge">Click for try</span><br>

                <h4 class="text-left">Example creation output:</h4>
                <samp>{ "original_url":"https://www.google.com", "short_url":"https://url-shortcut.herokuapp.com/8888" }</samp>

                <h4 class="text-left">Usage:</h4>
                <a href="https://url-shortcut.herokuapp.com/3000" target="_blank"><code>https://url-shortcut.herokuapp.com/3000</code></a><span class="badge">Click for try</span><br>

                <h4 class="text-left">Will redirect to:</h4>
                <a href="https://github.com/AsimoLoveGym" target="_blank"><code>https://github.com/AsimoLoveGym</code></a><span class="badge">My GitHub</span><br>

                <h4 class="text-left">Reserved Shortener URL:</h4>
                <div class="col-xs-12" id="table-container" >
                  <table class="table table-borderless">
                    <colgroup>
                      <col class="#" />
                      <col class="original-url" />
                      <col class="short-url" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Original URL</th>
                        <th scope="col">Short URL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>https://www.google.com</td>
                        <td>https://url-shortcut.herokuapp.com/8888</td>
                      </tr>

                      <tr>
                        <td>2</td>
                        <td>https://www.freecodecamp.com/</td>
                        <td>https://url-shortcut.herokuapp.com/7777</td>
                      </tr>

                      <tr>
                        <td>3</td>
                        <td>https://github.com/AsimoLoveGym</td>
                        <td>https://url-shortcut.herokuapp.com/3000</td>
                      </tr>
                    </tbody>
                   </table>
                 </div>

              </div>
            </div>

          <!-- </div> -->
        </div>
      </div> <!-- End of "row" div -->

    </main> <!-- End of "container" -->

    <footer class="container">
      <div class="row">
        <div class="col-xs-12 text-center" id="mysocial">
          <a href="https://github.com/AsimoLoveGym" target="_blank"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/zhuangzhuang-xia-45304b6b" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
          <a href="mailto:xiazhuangz@gmail.com" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a>
        </div>
      </div>
      <div class="text-center">
        <p>For <a href="https://www.freecodecamp.com/challenges/url-shortener-microservice" target="_blank">Free Code Camp project</a></p>
        <p> Copyright © <a href="https://www.freecodecamp.com/asimolovegym" target="_blank">Joey Xia</a>. All right reserved. </p>
      </div>
    </footer>

  </body>
</html>
