html {
  height: 100%; }

body {
  height: 100%; }

main {
  margin-top: 2%;
  margin-bottom: 3em; }

h4 {
  margin-top: 1em;
}

#display-container {
  padding: 2em;
  background-color: #f1e9d2;
  border-radius: 8px;
  box-shadow: 4px 0 5px gray, 0 4px 5px gray;
}

ul, code, samp {
  font-size: 12px;
}

code {
  margin-left: 1em;
}

#table-container {
  padding-left: 1em;
  padding-right: 1em;
}

table {
  background-color: #34495E;
  color: white;
  border-radius: 5px;
}

table th {
  color: #dd5;
}

/* credit to Davide Pastore for borderless table http://stackoverflow.com/questions/18075794/bootstrap-table-without-stripe-borders*/
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

.badge {
  margin-left: 5px;
}

@media (min-width: 768px) {
  #display-container {
    width: 768px; } }
